{% extends 'base.html' %}
{% block content %}

    <div class="wizard" data-initialize="wizard" id="group_profile">
        <ul class="steps">
            <li data-step="1" class="active">
                <span class="badge">1</span>Step 1<span class="chevron"></span>
            </li>
            <li data-step="2">
                <span class="badge">2</span>Step 2<span class="chevron"></span>
            </li>
            <li data-step="3">
                <span class="badge">3</span>Step 3<span class="chevron"></span>
            </li>
            <li data-step="4">
                <span class="badge">4</span>Step 4<span class="chevron"></span>
            </li>
        </ul>
        <div class="step-content">
            <div class="step-pane active sample-pane alert" data-step="1">
                <form class="form-horizontal">
                {% csrf_token %}
                <div class="form-group">
                    <div class="col-md-2">
                    <label class="control-label" for="rule_profile">Rule Profile</label>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" placeholder="Choose Available or Type New" type="text" list="list" id="rule_profile">
                        <datalist id="list">
                            {% for group in rule_group %}
                                <option value="{{ group.rule_group_name }}"></option>
                            {% endfor %}
                        </datalist>
                        <!-- <p class="note"><strong>Note:</strong> works in Chrome, Firefox, Opera and IE10.</p> -->
                    </form>

                    </div>
                    <div class="text-right">
                        <br />
                        <br />
                        <button class="btn btn-primary" id="step1_next" type="button">Next</button>
                    </div>
                </div>

            </div> <!-- EOF step 1 -->

            <!-- step 2 content -->
            <div class="step-pane sample-pane alert" data-step="2">
                <div id="step2" class="table-responsive"></div>
            </div>

            <!-- EOF step 2 -->
            <div class="step-pane sample-pane alert" data-step="3">
                <div id="step3" class="table-responsive"></div>
            </div>

            <div class="step-pane sample-pane alert" data-step="4">
                <div id="step4" class="table-responsive"></div>
            </div>

        </div>
    </div>
{% endblock %}
{% block additional_script %}
<script type="text/javascript">
    $('#step1_next').click(function() {
        var group_name = $("#rule_profile").val();
        var csrf_token = $('input[name=csrfmiddlewaretoken').val();
        var data = {
            "rule_group_name": group_name,
            "csrfmiddlewaretoken": csrf_token
        };
        console.log(data);
        $.ajax({
            type: "POST",
            url: "/review-results/get-or-create-group/",
            data: data,
            async: false,
            success: function(data) {
                console.log(data);
                if(data.status == "success") {
                    var id = data.id;

                    $('#step2').html('&nbsp;').load('{% url "review_step_2" %}?id=' + id);
                    $('#group_profile').wizard('next');
                } else if (data.status == "not allowed") {
                    alert(data.reason);
                    $("#rule_profile").addClass("form-control-error");
                    return false;
                }
            }
        });
    })
    </script>
{% endblock %}