<div id="{{ rule_groups.rule_master.id }}">
<table class="table table-striped" id="step3_table">
<input type="hidden" name="group_name_id" value="{{ group_name.id }}" id="group_name_id"/>
{% csrf_token %}
{% for rule in rule_groups %}
    <tr>
        <td>
            {{ rule.rule.rule_desc }}<input type="hidden" name="rule_id[]"  value="{{ rule.rule.id }}" />
        </td>
        {% if rule.rule.rule_custom_flag == "N" %}
            <td><input type="hidden" id="operations[]" value="" name="operations[]"/>&nbsp;</td><td><input type="hidden" name="properties[]" />&nbsp;</td>

        {% else %}
            <td>
                {% if rule.rule.review_rule_operation_set.count > 0 %}
                <select name="operations[]" class="form-control" >
                    <option value=""> -- Select Value -- </option>
                    {% for operation in rule.rule.review_rule_operation_set.all %}
                        <option value="{{ operation.id }}" {% if operation.rule_operation == rule.rule_operation %} selected="selected" {% endif %}>{{ operation.rule_operation }}</option>
                    {% endfor %}
                </select>
                {% else %}
                    <input type="hidden" value="" name="operations[]">
                {% endif %}
            </td>
            <td>
                {% if rule.rule.review_rule_property_set.count > 0 %}
                    <select name="properties[]" class="form-control">
                                                    <option value=""> -- Select Value -- </option>
                        {% for property in rule.rule.review_rule_property_set.all %}
                            <option value="{{ property.id }}" {% if property.rule_property == rule.rule_property %} selected="selected" {% endif %}>{{ property.rule_property }}</option>
                        {% endfor %}
                    </select>
                {% else %}
                    <input type="text" name="properties[]" placeholder="enter the value" class="form-control" {% if rule.rule_property %}value="{{ rule.rule_property }}" {% endif %}/>
                {% endif %}

            </td>
        {% endif %}
    </tr>

{% endfor %}
</table>

<div class="text-right">
    <button class="btn btn-default" id="btn_prev_step2" type="button">Previous</button> &nbsp;
    <button class="btn btn-primary" id="btn_next_step4">
        Next
    </button>
</div>
</div>

<script>
var group_name_id = $("#group_name_id").val();
function save_step3() {
    
    var _properties = $("[name='properties[]']");
    
    var _operations = $("[name='operations[]']");
    var csrf_token = $('input[name=csrfmiddlewaretoken').val();
    var _rule_id = $("[name='rule_id[]']");

    var rule_id = [];
    var operations = [];
    var properties = [];
    

    for (var i = 0; i < _rule_id.length; i++) {
        rule_id.push(_rule_id[i].value);
        operations.push(_operations[i].value);
        properties.push(_properties[i].value);
    }

    var data = {
        "group_name_id": group_name_id,
        "csrfmiddlewaretoken": csrf_token,
        "operations[]": operations,
        "properties[]": properties,
        "rule_id[]": rule_id
    }
    $.ajax({
        "type": "POST",
        "url": "/review-results/save-step-3/",
        "data": data,
        'async': false,
        "success": function(data) {
            console.log(data.status);
            if(data.status != "success") {
                alert("Somethig wrong");
                return false;
            }
        }
    });
}

function validate_input3() {
    var input_text = $("#step3_table").find("input[type!='hidden']");
    var input_select = $("#step3_table").find("select[type!='hidden']");
    
    var lanjut = true;
    var input = []
    
    for (var i = 0; i < input_text.length; i++) { 
        if ( input_text[i].value == "" ) { 
            lanjut = false;
            $(input_text[i]).addClass("form-control-error");
            input.push(input_text[i]);
        } 
    }
    
    for (var i = 0; i < input_select.length; i++) {
        if ( input_select[i].value == "" ) {
            $(input_select[i]).addClass("form-control-error");
            input.push(input_select[i]);
        }
    }
    
    return input;
}


$("#btn_next_step4").click(function(e) {
    e.preventDefault();
    var validasi = validate_input3();
   
    if(validasi.length >  0) {
        alert("Some input cannot be empty");
        console.log(validasi.value);
    } else {
        var t = save_step3();
        $('#step4').html('&nbsp;').load('{% url "load_step_4" %}?id=' + group_name_id);
        $('#group_profile').wizard('next');        
    }
    
});

$("#btn_prev_step2").click(function(e) {
    e.preventDefault()
    save_step3();
    $('#group_profile').wizard('previous');
});


</script>