{% block content %}
    <h3>{{ title }}</h3>
<form id="rule_master" action="#" method="post">
{% csrf_token %}
<input type="hidden" id="group_name_id" value="{{ group.id }}" />


<select multiple id="rule_master" name="masters[]">
    {% for master in rule_master %}
        {% if master in selected_master %}

            <option value="{{ master.id }}" selected>{{ master.rule_master_desc }}</option>

        {% else %}
           <optgroup label="Hello">
            <option value="{{ master.id }}">{{ master.rule_master_desc }}</option>
            </optgroup>
        {% endif %}
  {% endfor %}
</select>

<br />
<br />


</form>
<br />
<br />
<div class="text-right">
    <button type="button" class="btn btn-default" id="prev_step">Previous</button>
    <button type="button" class="btn btn-primary" id="update_rule_group">Next</button>
</div>

<script>

$("#rule_master").multiSelect({
    selectableHeader: "<input type='text' class='form-control' autocomplete='off'>",
  selectionHeader: "<input type='text' class='search-input form-control' autocomplete='off'>",
  afterInit: function(ms){
    var that = this,
        $selectableSearch = that.$selectableUl.prev(),
        $selectionSearch = that.$selectionUl.prev(),
        selectableSearchString = '#'+that.$container.attr('id')+' .ms-elem-selectable:not(.ms-selected)',
        selectionSearchString = '#'+that.$container.attr('id')+' .ms-elem-selection.ms-selected';

    that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
    .on('keydown', function(e){
      if (e.which === 40){
        that.$selectableUl.focus();
        return false;
      }
    });

    that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
    .on('keydown', function(e){
      if (e.which == 40){
        that.$selectionUl.focus();
        return false;
      }
    });
  },
  afterSelect: function(){
    this.qs1.cache();
    this.qs2.cache();
  },
  afterDeselect: function(){
    this.qs1.cache();
    this.qs2.cache();
  }
});

function save_step2() {
    var group_name_id = $("#group_name_id").val();
    var rule_masters = $('[name="masters[]"]').val();
    var csrf_token = $('input[name=csrfmiddlewaretoken').val();
    var data = {'action': "update_step2", 'group_name_id': group_name_id, "rule_masters[]": rule_masters, "csrfmiddlewaretoken": csrf_token};
    console.log(data);

    if (rule_masters == null) {
        alert("Please select at least one rule master");
        $('[name="duallistbox_item[]_helper2"]').addClass("form-control-error");
        return false;
    }


    $.ajax({
        "type": "POST",
        "url": "/review-results/review-step-3/",
        "data": data,
        "async": false,
        "success": function(data) {
            if (data.status == 'success') {
                $('#step3').html('&nbsp;').load('{% url "load_step_3" %}?id=' + group_name_id);
                $('#group_profile').wizard('next');
                //console.log(data);
            }
        }
    });
}

var rule_master = $('select[name="duallistbox_item[]"]').bootstrapDualListbox();
    $("#demoform").submit(function() {
      alert($('[name="duallistbox_item[]"]').val());
      return false;
    });

$('#update_rule_group').click(function() {
    //alert($('[name="duallistbox_item[]"]').val());
    save_step2();

});

$("#prev_step").click(function() {
    $('#group_profile').wizard('previous');
})

</script>
{% endblock %}