<table class="table table-striped" id="step4_table">
    <input type="hidden" value="{{ group_name.id }}" id="group_name" />
     {% for group in rule_groups %}
        <tr>
            {% csrf_token %}
            <td>{{ group.rule.rule_desc }}<input type="hidden" value="{{ group.rule.id }}" name="rule_ids[]"/></td>
            <td>{{ group.rule_operation}}</td>
            <td>{{ group.rule_property }}</td>
            <td>
                <select name="priorities[]" class="form-control">
                    <option value=""> -- Select Value -- </option>
                    {% for priority in priorities %}
                        <option value="{{ priority.id }}" {% if group.rule_priority == priority.rule_priority %} selected="selected" {% endif %}>{{ priority.rule_priority }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <select class="form-control" name="categories[]">
                    <option value=""> -- Select Value -- </option>
                    {% for cat in categories %}
                        <option value="{{ cat.id }}" {% if group.rule_category == cat.rule_category %} selected="selected" {% endif %}>{{ cat.rule_category }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
     {% endfor %}
</table>
<div class="text-right">
    <button type="button" class="btn btn-default" id="to_step3">Previous</button> &nbsp;
    <button class="btn btn-primary" id="save_all_step" type="button">Save</button>
</div>

<script>


function save4(group_name_id) {
    var _rule_ids = $("[name='rule_ids[]']");
    var _rule_priorities = $("[name='priorities[]']");
    var _rule_categories = $("[name='categories[]']");
    var csrf_token = $('input[name=csrfmiddlewaretoken').val();

    var rule_ids = [];
    var rule_priorities = [];
    var rule_categories = [];

    for (var i = 0; i < _rule_ids.length; i++) {
        rule_ids.push(_rule_ids[i].value);
        rule_priorities.push(_rule_priorities[i].value);
        rule_categories.push(_rule_categories[i].value);
    }

    var result = "";

    var data = {
        "csrfmiddlewaretoken": csrf_token,
        "rule_group_name": group_name_id,
        "rule_priorities[]": rule_priorities,
        "rule_categories[]": rule_categories,
        "rule_ids[]": rule_ids
    }

    // console.log(data);

    $.ajax({
        "type": "POST",
        "url": "/review-results/save-step-4/",
        "data": data,
        'async': false,
        "success": function(data) {
            //console.log(data);
            if (data.status == "success") {
                //console.log(data.status);
                result = data;
//                 save_event(data);
                //return(data);
            }
            //result = data;
        }
    });
    //console.log(result);
    return result
}

function validate_input4() {
    var input_text = $("#step4_table").find("input[type!='hidden']");
    var input_select = $("#step4_table").find("select[type!='hidden']");

    var lanjut = true;
    var input = []

    for (var i = 0; i < input_text.length; i++) {
        if ( input_text[i].value == "" ) {
            lanjut = false;
            $(input_text[i]).addClass("form-control-error");
            input.push(input_text[i]);
        }
    }

    for (var i = 0; i < input_select.length; i++) {
        if ( input_select[i].value == "" ) {
            $(input_select[i]).addClass("form-control-error");
            input.push(input_select[i]);
        }
    }

    return input;
}


    $("#save_all_step").click(function() {
        var group_name_id = $("#group_name_id").val();
        var validasi = validate_input4();

        if (validasi.length > 0) {
            alert("Please Select Value");
        } else {
            var t = save4(group_name_id);
            if (t.status == "success") {
                alert("data Saved");
            }
        }

    });

$("#to_step3").click(function(e) {
    e.preventDefault()
    var group_name_id = $("#group_name_id").val();
    var s = save4(group_name_id);
    console.log(s.status);
    $('#group_profile').wizard('previous');
});
</script>
