{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}Code Review</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fuelux.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/select/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/multi-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom_style.css' %}">
</head>
<body class="fuelux">

<div class="header">
       <div class="container">
          <div class="row">
             <div class="col-md-5">
                <!-- Logo -->
                <div class="logo">
                   <h1><a href="index.html">DISoln Informatica Code Review</a></h1>
                </div>
             </div>
          </div>
       </div>
  </div>

<div class="container-fixed">
<div class="page-content">
    <div class="row">

        <!-- sidebar -->
        <div class="col-md-2">
            <div class="sidebar content-box"; style="color:grey">
                <ul class="nav">
                    <!-- Main menu -->
                    <li class="current"><a href="/home"><i class="glyphicon glyphicon-home"></i> Home</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-user"></i> Profile</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-stats"></i> Dashboard</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-cog"></i> Admin</a></li>
                </ul>
            </div>
        </div>
        <!-- eof sidebar -->
        <div class="col-md-10">
                <div class="content-box-header panel-heading btn-primary">
                  <div class="panel-title">ETL Code Review</div>
                </div>
                <div class="content-box-large box-with-header">
                    {% block content %}{% endblock %}
                </div>

        </div>

        <!-- content -->
    </div>
</div>
</div>

<script src='{% static "js/jquery.js" %}' type="text/javascript" charset="utf-8"></script>
<script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src='{% static "bootstrap/js/bootstrap.js" %}'></script>
<script src="{% static 'js/fuelux.min.js' %}"></script>
<script src="{% static 'js/jquery.bootstrap.duallistbox.js' %}"></script>
<script src="{% static 'js/jquery.multi-select.js' %}"></script>
<script src="{% static 'js/jquery.quicksearch.js' %}"></script>
{% block additional_script %}
{% endblock %}
</body>
</html>